:root {
    font-size: 10px;
    overflow-x: hidden;
    background-color: rgb(26, 10, 89);
    min-height: 100vh;
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Red Rose", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}