.page {
  --background: #fafafa;
  --foreground: #fff;
  --text-primary: #000;
  --text-secondary: #666;
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  min-height: 100dvh;
  background-color: var(--foreground);
  padding: 36px 10px;
}

.intro {
  margin: 0 auto;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-wrap: balance;
  text-align: center;
  color: var(--text-primary);
  padding: 0 5px 5px 5px;
}

.sloganText {
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.3;
  text-wrap: balance;
  color: var(--text-secondary);
}

.posterContainer {
  padding: 8px 0;
}

.posterImage {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.ctas {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
