.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 0.8rem;
    background-color: #7a2bbf;
    border: 5px solid #baac2c;
}

.title {
    font-size: 3.3rem;
    color: #baac2c;
    text-align: center;
    padding: 0.5% 10px;
}

.info{
    font-size: 2.8rem;
}